* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6f6;
    font-family: Helvetica, Arial, sans-serif;
}

/* header style start */
header {
    padding: 10px 0px 15px 0px;
    background-color: #31343d;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: #31343d;
    background-color: #92cbcd;
    margin: 0;
    padding: 10px 15px 10px 70px;
}

header a {
    text-decoration: none;
    color: #92cbcd;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 15px 80px 0px 0px;
}

header nav ul li a {
    padding: 0px 15px 5px 15px;
    font-weight: lighter;
    font-size: 20px;
    border-bottom: 3px solid;
    border-color: #92cbcd;
    margin: 7px;
}
/* header style end */

/* hero style start */
.hero {
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-end;
    min-height: 300px;
}

.hero h2 {
    font-size: 36px;
    color: #31343d;
    background-color: #92cbcd;
    margin: 10px 80px 30px 0px;
    padding: 10px;
}
/* hero style end */

/* about me style start */
.section-title {
    font-size: 48px;
    color: #445755;
    border-color: #445755;
    border-right: 3px solid;
    padding: 10px;
    text-align: right;
}

.primary-border {
    border-color: #445755;
}

.three-column {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: 10px 5px;
    height: 400 px;
}

/* .three-column > * {
    flex: 1;
    margin: 30px;
} */

.three-column h2 {
    height: 100%;
}

.column-header {
    flex: 0 0 20%;
}

.column-p {
    flex: 0 0 60%;
    padding: 10px;
}

.columm-img {
    flex: 0 0 20%;
}

/* about me style end */

/* work style start */
.work {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.work h2 {
    height: 900px;
}

.work-header {
    flex: 0 0 20%;
}

.card {
    min-width: 500px;
    height: 300px;
    padding: 10px;
    border: 5px solid #92cbcd;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-end;
    /* min-height: 200px;
    min-width: 500px; */
}

.card .text {
    background-color: #92cbcd;
    color: #31343d;
    padding: 10px;
    /* width: 40%; */
    /* margin: 0px 0px 20px; */
}

.card h3{
    font-size: 24px;
    padding: 5px;
}

/* cards div occupies 80% of work section and contains card elements */
.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
}

#card-one {
    background-image: url("../images/run-buddy.jpeg");
    background-size: cover;
    background-position: center;
    flex: 0 0 100%;
}

#card-two {
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: center;
    flex: 0 0 50%
}

#card-three {
    background-image: url("../images/cupola.jpeg");
    background-size: cover;
    background-position: center;
    flex: 0 0 50%;
}

#card-four {
    background-image: url("../images/lizard.jpeg");
    background-size: cover;
    background-position: center;
    flex: 0 0 50%;
}

#card-five {
    background-image: url("../images/holodeck.jpeg");
    background-size: cover;
    background-position: center;
    flex: 0 0 50%;
}

/* .card:nth-child(1) {
    min-width: 1000px;
}

.work > * {
    flex: 1;
    margin: 15px;
} */